<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Coursework</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
        /*Enter CSS style stuff here*/
    </style>
</head>
<body>
<h1>Employee Form</h1>

<form th:action="@{/Submit}" method="post">
    <table>
        <tr>
            <td> Name 1 person:</td>
            <td><input type="text" name="nameOne" required="true"/></td>
        </tr>
        <tr>
            <td> Salary:</td>
            <td><input type="number"  step = "0.01" name="salaryOne" required="true" /></td>
        </tr>
        <tr>
            <td> Name 2 person:</td>
            <td><input type="text" name="nameTwo"  required="true"/></td>
        </tr>
        <tr>
            <td> Salary:</td>
            <td><input type="number"  step = "0.01" name="salaryTwo" required="true"/></td>
        </tr>
        <tr>
            <td><button name="submit" type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>
