<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1> Employee submission result </h1>
<table>
    <thead>
    <th>Name</th>
    <th>Salary</th>
    </thead>
    <tbody>
    <tr th:each="employee : ${empl}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.salary}" ></td>
        <td>
            <a th:href="@{/edit(employeeId=${employee.id})}">Edit</a>
            <a th:href="@{/delete(employeeId=${employee.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<p>The Average Salary according to the table above is: <span th:text="${average}"></span></p>
<p>The sum of all salaries according to the table is: <span th:text="${sum}"></span></p>
<a href="/">Add another employee</a>
</body>

</html>
